[Unit]
Description=Icarus Memory Tiering Daemon

[Service]
Type=simple
ExecStart=/usr/local/bin/icarus-memtierd.sh
Restart=always

[Install]
WantedBy=multi-user.target